.winningModal {
    z-index: 1;
    background-color: white;
    width: 40%;
    height: 55%;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.introModal {
    min-height: 100vh;
    min-width: 100vw;
    font-size: 100px;
    position: absolute;
    text-align: center;
    z-index: 1;
    background-color: white;
}
header {
    box-sizing: border-box;
    height: 12%;
    background-color: white;
    border: 5px solid black;
    position: relative;
    text-align: center;
    font-size: 2em;
}
body {
    background-image: url("../images/music-background.jpg");
}
.game {
    height: 100vh;
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: cover;
}
.container-fluid {
    box-sizing: border-box;
    padding: 10px;
    margin: 0 auto;
    width: 85%;
    height: 90%;
    text-align: center;
    font-size: 0;
}
.playArea {
    height: 100%;
    vertical-align: top;
    text-align: center;
    font-size: 0;
}
.cardContainer {
    width: 16.66%;
    height: 33.33%;
    display: inline-block;
    position: relative;
}
.card {
    height: 90%;
    width: 90%;
    position: absolute;
    border: 5px solid #433c3c;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.5);
}
.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.modalMessage {
    color: black;
    font-size: 1rem;
}

.cardBack {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-image: url("../images/guitar_pick.jpg");
}

.cardFront {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.statsDiv {
    color: black;
    font-size: 1.25rem;
}
.giphy {
    height: 100%;
    width: 100%;
    border: black solid 4px
}
.hidden {
    display: none;
}
.resetCircle:hover {
    cursor: pointer;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    body {
        font-size: 2.7em;
    }
    .statsDiv {
        height: 7vh;
    }
    .playArea {
        height: 80vh;
    }
    .cardContainer {
        width: 33.33%;
        height: 16.67%;
    }
    .winningModal {
        width: 70%;
    }
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    header {
        height: 12%;
    }
}
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    .winningModal {
        top: 20%;
    }
}

@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
    .modal-content {
        top: 10%;
    }
}
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    header {
        height: 7%;
    }
    .statsDiv {
        font-size: 1.5rem;
    }
    .playArea {
        height: 80vh;
    }
    .cardContainer{
        width: 33.33%;
        height: 16.67%;
    }
    .cardBack {
        width: 70%;
        height: 100%;
        margin-left: 25px
    }
    .cardFront {
        width: 70%;
        height: 100%;
        margin-left: 30px
    }
}
@media only screen
and (-webkit-min-device-pixel-ratio: 2)
and (max-device-width: 1024px)
and (min-device-width: 1024px)
and (orientation: landscape) {
    .cardContainer {
        height: 25%;
    }
    header {
        height: 2em;
    }
    .statsDiv {
        font-size: 1em;
    }
    .playArea {
        margin-top: 5%;
    }
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
}







